@font-face {
  font-family: LCD;
  src: url(14\ Segment\ LED.ttf);
}
@font-face {
  font-family: Hogers;
  src: url(Hogers\ PERSONAL\ USE\ ONLY!.ttf);
}
@font-face {
  font-family: Glitch;
  src: url(RubikGlitch-Regular.ttf);
}
body {
  background: url(matrixcode2.gif);
  --border: #008f11;
  --dark-gray: rgb(5, 11, 3);
  overflow: clip;
}
h1 {
  position: relative;
  background: url(matrixcode2.gif);
  background-clip: text;
  font-size: 70px;
  color: transparent;
  font-weight: 900;
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--border);
}
h1::after {
  content: "Rock Paper Scissors";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  z-index: -1;
  text-shadow: 0px 0px 5px white, 0px 0px 2px black, 0px 0px 2px black,
    0px 0px 2px black;
}
.matrix-edition {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  height: auto;
  background: var(--border);
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 35px;
  z-index: -1;
  border-top: 10px solid var(--dark-gray);
  border-bottom: 10px solid var(--dark-gray);
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px var(--border));
  z-index: 2;
}
.matrix-edition .text {
  background: url(matrixcode2.gif);
  font-family: "Hogers", serif;
  background-clip: text;
  color: transparent;
  width: 100%;
}
.word1 {
  content: "Matrix";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: 0px 0px 5px white;
}
.word2 {
  content: "Edition";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: 0px 0px 5px white;
}
.sides::before {
  content: "";
  position: absolute;
  width: 60px;
  height: calc(100% + 19px);
  left: -59px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 60px solid var(--dark-gray);
}
.sides::after {
  content: "";
  position: absolute;
  width: 60px;
  height: calc(100% + 19px);
  right: -59px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid var(--dark-gray);
}
.subSides::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  left: -39px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 40px solid var(--border);
}
.subSides::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  right: -39px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid var(--border);
}
#digitize {
  aspect-ratio: 6/4;
  background: url(blackGrunge2.png);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 10 !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 1s;
}
.pulsing {
  animation-name: scalePulse;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}
#digitize::before {
  content: "";
  border: 5px solid var(--border);
  filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
    drop-shadow(0px 0px 3px rgb(8, 149, 8));
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: -1 !important;
  transition: 1s;
}
#digitize:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: 1s;
}
.off h1 {
  display: none;
}
.off .matrix-edition {
  display: none;
}
.off .playContainer {
  display: none;
}
.digiBox {
  background: url(blackGrunge2.png) !important;
  position: relative;
  z-index: 0;
}
.digiBox_analyze {
  background: url(blackGrunge2.png) !important;
  position: relative;
  z-index: 0;
}
.digiRow {
  display: flex;
  position: relative;
  z-index: 2;
}
.digiRow_analyze {
  display: flex;
  position: relative;
  z-index: 2;
}
#digiContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#digiContainerZ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.digiRow .digiBox:first-child {
  border-left: 10px solid var(--border);
}
.digiRow .digiBox:last-child {
  border-right: 10px solid var(--border);
}
.digiRow:first-child .digiBox {
  border-top: 10px solid var(--border);
}
.digiRow:last-child .digiBox {
  border-bottom: 10px solid var(--border);
}
#subDigiContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
#digitize_screen {
  display: none;
  background: url(matrixcode2.gif);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 11 !important;
}
#digitize_screen2 {
  display: none;
  background: url(matrixcode2.gif);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 21 !important;
}
.fadeIn {
  display: block !important;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards !important;
  animation-timing-function: linear;
  z-index: 11 !important;
}
.fadeIn2 {
  display: block !important;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards !important;
  animation-timing-function: linear;
  z-index: 21 !important;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeInFull {
  display: block !important;
  animation-name: fadeInFull;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards !important;
  animation-timing-function: linear;
  z-index: 11 !important;
}
@keyframes fadeInFull {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.play {
  cursor: pointer;
  height: 130px;
  aspect-ratio: 1/1;
  background: url(blackGrunge2.png);
  border-radius: 50%;
  position: relative;
  transition: 1s;
}
.play::before {
  content: "";
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid var(--border);
  filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
    drop-shadow(0px 0px 3px rgb(8, 149, 8));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.play:hover {
  transform: scale(1.1);
  transition: 1s;
}
.playContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
      drop-shadow(0px 0px 3px rgb(8, 149, 8));
    border: 5px solid #008f11;
  }
  50% {
    filter: drop-shadow(0px 0px 5px rgb(97, 219, 10))
      drop-shadow(0px 0px 3px rgb(13, 204, 13));
    border: 5px solid #06b81b;
  }
  100% {
    filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
      drop-shadow(0px 0px 3px rgb(8, 149, 8));
    border: 5px solid #008f11;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 60px solid var(--border);
}
#box_4_4::after {
  content: " ";
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: 0;
  right: 0;
  border-top-left-radius: 100%;
  background: url(blackGrunge2.png);
  border-top: 5px solid var(--border);
  border-left: 5px solid var(--border);
}
#box_4_5::after {
  content: " ";
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: 0;
  left: 0;
  border-top-right-radius: 100%;
  background: url(blackGrunge2.png);
  border-top: 5px solid var(--border);
  border-right: 5px solid var(--border);
}
#box_5_4::after {
  content: " ";
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  background: url(blackGrunge2.png);
  border-bottom: 5px solid var(--border);
  border-left: 5px solid var(--border);
}
#box_5_5::after {
  content: " ";
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  border-bottom-right-radius: 100%;
  background: url(blackGrunge2.png);
  border-right: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
}
div[id^="box_1"][id$="_sub"] {
  background: url(matrixcode2.gif) !important;
}
div[id^="box_1"]:not([id$="_sub"])::after {
  background: url(matrixcode2.gif);
  filter: drop-shadow(0px 0px 3px white);
  color: transparent;
  background-clip: text;
  font-weight: 900;
  font-size: 70px;
  width: 100%;
  height: 100%;
  overflow: clip;
  text-align: right;
}
#box_1_0::after {
  content: "R";
}
#box_1_1::after {
  content: "o";
}
#box_1_2::after {
  content: "c";
}
#box_1_3::after {
  content: "k";
}
#box_1_4::after {
  content: "P";
}
#box_1_5::after {
  content: "a";
}
#box_1_6::after {
  content: "p";
}
#box_1_7::after {
  content: "e";
}
#box_1_8::after {
  content: "r";
}
#box_1_9::after {
  content: "S";
}
.dripContainer {
  transition: 1s;
  border-top: 1px solid var(--border);
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(to bottom, black, transparent);
}
.dripCode {
  width: 100%;
  height: 100%;
  background: url(matrixTransparent.gif);
  mask-image: url(dripcode.png);
  mask-repeat: repeat-x;
  mask-size: 60% 100%;
}
.dripCodeUp {
  width: 100%;
  height: 100%;
  background: url(matrixTransparent.gif);
  mask-image: linear-gradient(to bottom, black, transparent);
}
.category {
  border-top: 1px solid var(--border);
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "Hogers", serif;
  transition: 1s;
  height: 100% !important;
  position: relative;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  cursor: pointer;
}
.category span {
  padding-left: 10px;
  padding-right: 10px;
  hyphens: manual;
  width: 100%;
  text-overflow: ellipsis;
}
.secondPage {
  background: url(blackGrunge2.png);
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.secondPage::before {
  content: "";
  border: 5px solid var(--border);
  filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
    drop-shadow(0px 0px 3px rgb(8, 149, 8));
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: -1 !important;
  transition: 1s;
}
.dripping {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.col-4 {
  padding: 0 !important;
  margin: 0 !important;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.col-8 {
  padding: 0 !important;
  margin: 0 !important;
}
#h22 {
  position: absolute;
  left: 50%;
  bottom: 17%;
  transform: translate(-50%, 50%);
  width: 100%;
  text-align: center;
  color: transparent;
  background: url(matrixcode2.gif);
  background-clip: text;
  z-index: 3;
  font-size: 40px;
  font-family: "Hogers", serif;
  filter: drop-shadow(0px 0px 5px white);
}
.category:hover {
  background: #008f1131;
  transition: 1s;
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
}
.upperComponent {
  height: 30%;
  position: absolute;
  top: 0;
  left: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: transparent;
  filter: drop-shadow(0px 0px 3px white);
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  background: url(matrixcode2.gif);
  background-clip: text;
}
.category:hover .dripContainer {
  border-top: 0px solid transparent;
  transition: 1s;
}
.toolTipIco {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(37, 177, 56);
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: black;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}
@keyframes scalePulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
#digitize_frazzle {
  z-index: 2;
  aspect-ratio: 6/4;
  /* background: red; */
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 10 !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 1s;
}
#digitize_frazzle .digiRow {
  position: relative;
  bottom: -15px;
  right: -10px;
}
.box {
  background: url(blackGrunge2.png) !important;
  position: relative;
  z-index: 0;
  height: 30px;
  width: 30px;
}
#digitize_frazzle .digiRow .box:first-child {
  border-left: 10px solid var(--border);
}
#digitize_frazzle .digiRow .box:last-child {
  border-right: 10px solid var(--border);
}
#digitize_frazzle .digiRow:first-child .box {
  border-top: 10px solid var(--border);
}
#digitize_frazzle .digiRow:last-child .box {
  border-bottom: 10px solid var(--border);
}
#digitize_frazzle_2 .digiRow {
  position: relative;
  right: -10px;
  bottom: -10px;
}
#digitize_frazzle_2 .digiRow .box:first-child {
  border-left: 10px solid var(--border);
}
#digitize_frazzle_2 .digiRow .box:last-child {
  border-right: 10px solid var(--border);
}
#digitize_frazzle_2 .digiRow:first-child .box {
  border-top: 10px solid var(--border);
}
#digitize_frazzle_2 .digiRow:last-child .box {
  border-bottom: 10px solid var(--border);
}
.loadFadeOut {
  animation-name: fadeOutLoad;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
@keyframes fadeOutLoad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#digitize_frazzle_2 {
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 !important;
}
#loader {
  width: 80%;
  max-width: 700px;
  aspect-ratio: 6/5;
  background: url("blackGrunge2.png");
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20 !important;
  border-radius: 20px;
}

#winner {
  width: 80%;
  max-width: 700px;
  aspect-ratio: 6/5;
  background: url("blackGrunge2.png");
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 14 !important;
  border-radius: 20px;
}

#countdown,
#choices {
  height: 35%;
  width: 100%;
  display: block;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
    drop-shadow(0px 0px 3px rgb(8, 149, 8));
  font-size: 70px;
  font-weight: 600;
}
#analyzing {
  font-size: 80px;
  background: url(matrixcode2.gif);
  color: transparent;
  background-clip: text;
  filter: drop-shadow(0px 0px 3px white);
  transform-origin: center;
  animation-name: glitch;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
@keyframes glitch {
  0% {
    transform: scaleX(1) translateX(5px);
    transform-origin: center;
    font-family: "Hogers", serif;
  }
  50% {
    transform: scaleX(0.95) translateX(-3px);
    transform-origin: left;
    font-family: "Glitch", sans-serif;
  }
  75% {
    transform: scaleX(1.1) translateX(3px);
    transform-origin: right;
    font-family: "Glitch", sans-serif;
  }
  80% {
    transform: scaleX(1) translateX(4px);
    transform-origin: center;
    font-family: Arial, sans-serif;
  }
  9% {
    transform: scaleX(1) translateX(5px);
    transform-origin: center;
    font-family: Arial, serif;
  }
  99% {
    transform: scaleX(1.1) translateX(3px);
    transform-origin: right;
    font-family: "Glitch", sans-serif;
  }
}
#loader::before,
#winner::before {
  content: "";
  border: 5px solid var(--border);
  filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
    drop-shadow(0px 0px 3px rgb(8, 149, 8));
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px;
  animation-name: pulseColor;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: -1 !important;
  transition: 1s;
}
.h3Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: relative;
  width: calc(100% - 20px);
}
.h3Container::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.384);
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
  mask-image: linear-gradient(to right, transparent, black, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
}
@keyframes pulseColor {
  0% {
    filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
      drop-shadow(0px 0px 3px rgb(8, 149, 8));
    color: white;
  }
  50% {
    filter: drop-shadow(0px 0px 5px rgb(97, 219, 10))
      drop-shadow(0px 0px 3px rgb(13, 204, 13));
    color: white;
  }
  100% {
    filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
      drop-shadow(0px 0px 3px rgb(8, 149, 8));
    color: white;
  }
}
#choices {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#choices .col-6:nth-child(5),
#choices .col-6:nth-child(4) {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Hogers", serif;
  font-size: 35px;
  /* background: rgba(128, 0, 128, 0.45) !important; */
  background: url(matrixcode2.gif);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 0px 3px white);
  padding: 0 !important;
  font-weight: 800;
}
#choices .col-6:nth-child(1),
#choices .col-6:nth-child(2) {
  height: 45%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  font-family: "Hogers", serif;
  color: var(--border);
  font-size: 30px;
}
#choices hr {
  width: 80%;
  height: 1px;
  border: none;
  opacity: 1;
  background: rgb(0, 253, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  filter: drop-shadow(0px 0px 5px rgb(82, 181, 12))
    drop-shadow(0px 0px 3px rgb(8, 149, 8));
  mask-image: linear-gradient(to right, transparent, black, black, transparent);
}
.anaFadeIn {
  opacity: 1;
  animation-name: anaFadeIn;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes anaFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.winnerText {
  height: 50%;
  width: 100%;
  background-image: url("matrixcode2.gif");
  background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-items: center;
  font-family: "Hogers", serif;
  filter: drop-shadow(0px 0px 3px white);
}
.vs {
  height: 50%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.vs .col-6 {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid black;
}
