@font-face {
  font-family: LCD;
  src: url(14\ Segment\ LED.ttf);
}

body {
  background: url(matrixcode2.gif);
  --border: green;
  overflow: clip;
}

h1 {
  background: url(matrixcode2.gif);
  background-clip: text;
  font-size: 50px;
  color: transparent;
  font-weight: 900;
  text-align: center;
  /* font-family: "LCD", sans-serif; */
}
#digitize {
  width: 60%;
  aspect-ratio: 6/4;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.off h1 {
  background: none;
}

#digitize::before {
  content: "";
  border: 10px solid var(--border);
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.digiBox {
  background: rgb(0, 0, 0);
  /* background: radial-gradient(green 70%, black 71%); */
  position: relative;
  z-index: 0;
}
.digiRow {
  display: flex;
  position: relative;
  z-index: 2;
}
#digiContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.digiRow .digiBox:first-child {
  border-left: 10px solid var(--border);
}

.digiRow .digiBox:last-child {
  border-right: 10px solid var(--border);
}

.digiRow:first-child .digiBox {
  border-top: 10px solid var(--border);
}

.digiRow:last-child .digiBox {
  border-bottom: 10px solid var(--border);
}

#subDigiContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
#digitize_screen {
  display: none;
  background: url(matrixcode2.gif);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
}
.fadeIn {
  display: block !important;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
